
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    zoom: 100%;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg) ;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 65px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h1{
    margin: 10px;
    left: 0px;
    position: relative;
    align-items: normal;
    text-decoration: none;
    color: #fff;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height: 3px;
    width: 0;
    background: #ca941f;
    position: absolute;
    left: 0;
    bottom: 0;

}
.navbar ul li:hover::after{
    width: 100%;
}
.heading{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    height: fit-content;
}
.heading h1{
    font-size:70px;
    margin-top: 80px;
    height: fit-content;
}
.heading p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
    height: fit-content;
}
.Button{
    margin: 80px ;
    padding: 1;
    text-align: center;
    position: relative;
    top: 40%;
}
.Button button{
    border-color: #000000;
    padding: 10px;
    text-align: center;
    box-decoration-break: inherit;
    height: inherit(heading);
}
.Button button a{
    text-decoration: none;
    color:#a82d2d;
    text-transform: none;
}
.Causes{
    margin: 60px;
    text-align: center;
    top: 60%;
    width: 10;
    padding: 0;
    position: relative;
}
.Causes h2{
    font-size:30px;
    margin-top: 10px;
}
.TM{
    margin: 60px;
    text-align: center;
    top: 60%;
    width: 10;
    padding: 0;
    position: relative;
}
.TM h2{
    font-size:30px;
    margin-top: 10px;
}
.PD{
    margin: 60px;
    text-align: center;
    top: 60%;
    width: 10;
    padding: 0;
    position: relative;
}
.PD h2{
    font-size:30px;
    margin-top: 10px;
}
.Views{
    margin: 60px;
    text-align: center;
    top: 60%;
    width: 10;
    padding: 0;
    position: relative;
}
.Views h2{
    font-size:30px;
    margin-top: 10px;
}
.Credits{
    text-align: left;
    position: relative;
    width: 50;
    top: 30%;
}
.Content{
    background-color: #bcdace;
    background-position-y: center;
    background-position: 7;
    border-left: #fff;


}