

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
html{
    margin: auto;
    min-width: 122px;
    background-color: #e4e6e7;

}

.banner{
    width: 100%;
    height: 800px;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://getwallpapers.com/wallpaper/full/b/0/7/1516013-download-free-mental-health-wallpaper-1920x1080.jpg") ;
    background-size: cover;
    background-position: center;
    overflow: auto;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    transition: 0.5s;
    align-items: center;
    top: -10px;
    position: fixed;
    justify-content: space-between;
    background-color: #000;
    z-index: 50;
}
.navbar h2{
    margin-left: 15px;
    left: 0px;
    position: relative;
    align-items: normal;
    text-decoration: none;
    color: #fff;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar ul li a{
    margin: auto;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color:#fff;
}
.navbar ul li::after{
    content: ' ';
    height: 3px;
    width: 0;
    background: #ca941f;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.navbar ul li:hover::after{
    width: 100%;
}

@media only screen and (max-width:769px){
    .navbar, .navbar h1, .navbar ul li, .navbar ul li a, .navbar ul li a::after, .navbar ul li:hover::after{
        display: none;
    }


}

.Home{
    background-color: #ca941f;

}
@media only screen and (min-width:769px){
    .Beginnig{
        width: 1200px;
    }
}
.heading::before{
    content: ' ';

}

.heading{
    width: 100%;
    top: 250px;
    position: absolute;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
 .heading h2{
    font-size:30px;
    text-align: center;
    overflow-y: hidden;
    position: absolute;
    width:100%;
}
.heading p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
    position: absolute;
}
@media only screen and (max-width:769px) {

    .heading p{
        line-height:280px;
    }

}
.Button button{
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family:"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 80%;
  font-weight: 600;
  line-height: normal;
  margin:0;
  min-height: 0px;
  min-width: 0px;
  outline: none;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  width: 100px;
  top: 430px;
  height:55px;
  right:53%;
  will-change: transform;
}
.Button button{
    color: #fff;
    text-decoration: none;
}

.Button button:disabled {
  pointer-events: none;
}

.Button button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-px);
}

.Button button:active {
  box-shadow: none;
  transform: translateY(0);
}
.CreditsB button{
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family:"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 80%;
    font-weight: 600;
    line-height: normal;
    margin:0px;
    min-height: 0px;
    min-width: 0px;
    outline: none;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    position: absolute;
    height: 55px;
    left:53%; 
    top: 430px;
}

.CreditsB button{
    text-decoration: none;
    color: #ffffff;;
}
.CreditsB button:disabled {
    pointer-events: none;
  }
.CreditsB button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-px);
  }
  
.CreditsB button:active {
    box-shadow: none;
    transform: translateY(0);
  }

.Summary{
    background-color: #f7f7f7;
    left: 10%;
    line-height: 26px;
    margin: 30px 0;
    padding: 20px 3px;

}
.Summary p{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 17px;
    line-height: 26px;
}
.Causes{
    background-color:#fff;
    width: 80%;    
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.Causes h2{
    font-size:30px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.causes-text{
    flex-basis: 100%;
}
.system-text{
    flex-basis: 100%;
}
.causes-img{
    margin: auto;
    flex-basis: 100%; 
}
.causes-img img{
    width: 100%;
}
@media only screen and (min-width:569px){
    .Causes h2{
        font-size:30px;
        padding-top: 50px;
        text-align: center;
        padding-bottom: 30px;
    }
    .causes-text{
        flex-basis: 25%;
    }
    .system-text{
        position: relative;
        left: 50px;
        flex-basis: 25%;
    }
    .causes-img{
        margin: auto;
        flex-basis: 50%; 
    }
    .causes-img img{
        width: 60%;
    }
}

#PD-Title{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #fff;
}
#PD-Title h1{
    font-size: 80px;
}
.PD{    
    width: 80%;    
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.PD-text{
    flex-basis: 100%;

}
.PD-img{
    margin: auto;
    flex-basis: 100%;    
    padding-bottom: 10px;
}
.PD-img img{
    width: 100%;

}
.Summary1{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    line-height: 26px;
    margin: 30px 0;
    padding: 20px 3px;


}
@media only screen and (min-width:569px){
    #PD-Title{
        padding-top: 50px;
        text-align: center;
        padding-bottom: 30px;
    }
    #PD-Title h1{
        font-size: 80px;
    }
    .PD{    
        width: 80%;    
        align-items: center;
        text-align: center;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    
    }
    
    .PD-text{
        position: relative;
        right: 30px;
        flex-basis: 50%;
    
    }
    .PD-img{
        position: relative;
        top: 30px;
        margin: auto;
        flex-basis: 50%;
    }
    .PD-img img{
        width: 70%;
    }
    .Summary1{
        position: relative;
        left: 68%;
        bottom: 10px;
        width: 50%;
        background-color: #ffffff;
    }

}
#TM-Title{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
#TM-Title h2{
    font-size:30px;
}
.row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.TM-text, .TM-text2{
    box-shadow: 0 10px 20px 3px #3B3B3B;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    flex-basis: 100%;
}
.TM-img{
    padding-top: 30px;
    padding-bottom: 30px;
}
.TM-img img{
    width: 100%;
}
@media only screen and (min-width:569px){
    .TM-text,.TM-text2{
        flex-basis: 25%;
    }
    .TM-img img{
        width: 45%;
    }


}
.Views h2{
    font-size:30px;
    margin-top: 10px;
}
#View-Title{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
#View-Title h1{
    font-size: 80px;
}
.Views{    
    width: 80%;    
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.Views-text{
    flex-basis: 100%;

}
.Views-img{
    margin: auto;
    flex-basis: 100%;    
    padding-bottom: 10px;
}
.Views-img img{
    width: 100%;

}
.Summary1{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    line-height: 26px;
    margin: 30px 0;
    padding: 20px 3px;


}
@media only screen and (min-width:569px){
    #View-Title{
        padding-top: 50px;
        text-align: center;
        padding-bottom: 30px;
    }
    #View-Title h1{
        font-size: 80px;
    }
    .Views{    
        width: 80%;    
        align-items: center;
        text-align: center;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    
    } 
    .Views-Text{
        flex-basis: 50%;
    
    }
    .Views-img{
        margin: auto;
        flex-basis: 50%;
    }
    .Views-img img{
        width: 70%;
    }
    .Summary1{
        position: relative;
        left: 48%;
        bottom: 10px;
        width: 50%;
    }

}
@media only screen and (max-width:768px){
    #sidenav{
        width: 120px;
        height: 100vh;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 3;
        background: #202020;
        transition: 0.5s;
    }
    nav ul li{
        list-style: none;
        margin: 50px 20px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    nav ul li a:hover{
        color: #fff;
    
    }
    #sidebutton{
        width: 50px;
        height: 50px;
        background:#202020;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 0px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }
    #sidebutton img{
        width: 32px;
        margin-top: 15px;
    }
    .after{
        width: 75px;
        height: 16px;
        padding: 8px 0;
        margin: 0;
        opacity: 1;
    }
}
@media only screen and (min-width:769px) {
    #sidebutton, #sidenav{
        display: none;
    }
}


.PD, #TM,.Views, .Causes{
    text-align: center;
    margin: auto;
    width: 100%;
    opacity: 1;
    
}

.footer{
    background:#ffffff;
    padding:30px 0px;
    margin: 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
.footer h2{
    text-align: center;
    margin-bottom: 10px;
}   
.footer .Credits, .clear {
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
    
.footer .Credits a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    transition:0.5s;
}
    
.footer .Credits a:hover{
    color:#585858;
}
    
.footer .Credits ul{
    width:100%;
    text-align: center;
}
    
.footer .Credits ul li{
    display:inline-block;
    margin:0px 20px;
}
    
@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
}
.footer .Credits ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }

}
@media screen and (max-width: 768px) {
    .footer .Credits ul{
        width: 100%;
    }
    .footer .Credits ul li{
        display:inline-block;
        margin:0px 10px;
        
    }
}
.footer h3{
    text-align: center;
    margin-top: 30px;
}    
@media screen and (min-width:769px) {
    .footer button{
        
        right: 300px;
    }
    .footer{
        font-size: 20px;
        width: 100%;
    }
}
.Made {
    padding-top: 10px;
    text-align: center;
}

.Made p {   	
    color: #b3b3b3; 
    font-size: 18px;
}
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    position: relative;
    top: 60px;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.popup-content p{
    color: #000;
}
.show {
    display: block;
}
#myButton{
    top: 30px;
    margin: auto;
    padding: 30px;
    text-align: center;
    align-items: center;
    position: relative;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;


}


.MButton, #closePopup {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 5px 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.MButton:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.MButton:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.MButton:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
