*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
}

:before, :after{
    box-sizing: inherit;
}

#nav ul li{
    margin: auto;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
#nav ul li a{
    color:#fff;
}
@media screen and (max-width: 769px){
    #nav{
        display: none;
        visibility: hidden;
        
    }
    #mobile-menu{
        width: 120px;
        padding-top: 50px;
        height: 100vh;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 3;
        background: #202020;
        transition: 0.5s;
    }
    #mob-navbar ul li{
        list-style: none;
        margin: 50px 20px;
    }
    #mob-navbar ul li a{
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .nav-container .icon-container{
        background-color: #512020;
        height: 10vh;
        width: 100%;
        position: fixed;
        z-index: 50;
    }
    .nav-container .checkbox {
        position: fixed;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 50px;
        z-index: 59;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: fixed;
        top: 17px;
        right: 50px;
        z-index: 29;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }

      
}
@media screen and (min-width: 769px) {
    #mob-navbar{
        display: none;
        visibility: hidden;
    }

    #nav{
        background-color: #000;
        width: 100%;
        height:100;
    }
    
    #nav{
        width: 100%;
        height: 10%;
        margin: auto;
        padding: 5px 0;
        display: flex;
        transition: 0.5s;
        align-items: center;
        top: -10px;
        position: fixed;
        justify-content: space-between;
        background-color: #000;
        z-index: 50;
    }
    #nav ul li{
        list-style: none;
        display: inline-block;
        margin: 0 30px;
        position: relative;
        text-align: center;
    }
    #nav ul li a{
        color:#fff;
    }

}
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  header {
    color: #FFF;
    height: 80vh;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/19832983/pexels-photo-19832983/free-photo-of-silhouetted-interior-with-a-large-window-with-a-panoramic-view-of-a-city.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-img{
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
  
.full-image {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
header h1{
    font-size: 2.5rem;
    line-height: 1.1;
    z-index: 1;
    position: relative;
}
header p{
    font-size: 1rem;
}
.arrow{
    font-size: 2rem;
    padding: 0 10px 10px;
    z-index: 1;
    position: relative;
    line-height: 5;
}


@media screen and (min-width: 769px) {
    header{
        padding:50px 0;
    }
    header h1 {
        font-size: 3rem;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        z-index: 1
    }
    header p{
        font-size: 1rem;
        line-height: 1.2;
        flex-grow: 1;
          
    }
    .arrow{
        font-size: 3rem;
        padding: 0 10px 10px;
        z-index: 1;
        position: relative;
    }
}

.title h1{
    text-align: center;
    position: relative;
    margin-top: 170px;
    color:white;
    z-index: 1;
}
.title p{
text-align: center;
margin: auto;
padding: 10px;
position: relative;
color:white;
z-index: 1;
}


a,
a:hover,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

body{
    background-color: #141824;
    color:rgb(201, 198, 198);
}
section p {
    width: 80%;    
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
section{
    align-items: center;
    text-align: center;
    margin: 50px 0;
}
#Internet h2, #Habits h2{
    background-color: #000000;

}
.Data-Container{
    background-image: url('https://images.pexels.com/photos/27579814/pexels-photo-27579814/free-photo-of-a-lone-person-standing-on-the-shore-of-a-lake.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.H-Continer{
    background-image: url('https://images.pexels.com/photos/2928027/pexels-photo-2928027.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
#Internet p, #Habits p{
    background-color: #000;
    padding: 0 50px;
}

footer{
    text-align: center;
    background-color:#1b2030 ;
    padding-bottom: 40px;
}
footer p{
    margin-top: 5px;
}
.logo{
    margin-top: 10px;
}
#lo1,#lo2, #lo3,#lo4 {
    padding: 5px;
    margin-left: 2px;
    display: inline;
}
.Source{
    margin: 5px;
    line-height: 1.4;
}
@media screen and (min-width:769px){
    footer{
        display: flex;
        margin: auto;
        width: 90%;
    }
    footer p{
        margin-top: 5px;
    }
    #lo1,#lo2, #lo3,#lo4{
        margin-top: 10px;
    }
    .contin{
        font-size: 1rem;
        text-align: left;
        margin-top: 20px;
        margin-left: 30px;
        flex: 1;
    }
    .Source{
        text-align: right;
        margin-top: 20px;
        margin-right: 60px;
    }
    .Source ul{
        text-align: center;

    }
    
}